body {
    background: violet;
    color: firebrick;
}
#firstParagraph {
    font-size: 88px;
    font-weight: bold;
    color: greenyellow;
    font-family: cursive;
}

.headers {
    font-family: arial;
    font-size: 50px;
    text-align: center;
    color: white;
    
    
}

